.dashboard-bottom {
  display: flex;
  height: 100vh;
}
.dashboard-bottom-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 20%;
  padding: 16px 35.2px 16px 16px;
}
#dashboard-button,
#booking-button,
#property-button,
#logout-button {
  width: 100%;
}
