* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  background-image: url(../assets/hotel-colorful-bg.jpg);
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
