.destination-main {
  display: flex;
  justify-content: center;
}
.destination {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
}
.destination-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.destination-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.popularDestinationCard {
  box-shadow: 8px 7px 8px #00000096;
  width: 22rem;
}
.popularDestinationCard img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.cardBody h5 {
  text-align: center;
  margin-bottom: 0.5rem !important;
  font-weight: 500 !important;
}
.cardBody a {
  margin-left: 25%;
}
