* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.reservation-main {
  display: flex;
  justify-content: center;
  background-color: rgb(0 0 0 / 9%);
}
.reservation {
  display: flex;
  flex-direction: column;
  width: 1200px;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
}
.reservation-top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}
.reservation-bottom {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.reservation-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}
.policy {
  box-shadow: 8px 7px 8px #0000005c;
  border-radius: 0.375rem;
}

.reservation-bottom-right {
  width: 40%;
}

