.payment {
  box-shadow: 8px 7px 8px #0000005c;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.175);
  background: #fff;
  height: 100%;
  padding: 1rem 2rem;
}
.input-group label,
.input-group span {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.input-group input,
.input-group select {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.card-date > div > input {
  border-radius: 30px;
}
